In [ ]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [2]:
# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Common Data Science Toolbox
* Common list of Data Science Languages
* Common list of Data Science Libraries
* Creating cells with arithmetic operations
* Use of cells expressed as 'Markdown'

In [3]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Java

In [5]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow
4. Keras

In [6]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| Spyder |
| Apache Zeppelin |

In [8]:
# Exercise 7- Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
5 + 3 * 8 / 6

9.0

In [10]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [11]:
## This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [12]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [13]:
## This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In [14]:
# Exercise 10 - Insert a markdown cell to list Objectives (look at exercise 3)

In [15]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

# Author
Manuel Sanhueza